@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lustria&display=swap');
@import url('components/forms.css');
@import url('components/headerfooter.css');
@import url('components/cards.css');
@import url('components/recipePage.css');

/************** GLOBAL SETTINGS*******************/
* {
    box-sizing: border-box;
}

html {
    font-family: "Lato", serif;
    min-width: 400px;
}

body {
    margin: 0;
    min-width: 400px;
    padding: 0;
}

h2 {
    font-size: 28px;
}

h2, h3, h4 {
    font-family: 'Lustria', serif;
    font-weight: 300;
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style-type: none;
}

main {
    background-color: #c3d3c3;
}

section {
    margin: 0;
    padding: 0;
}

table {
    border: 1px solid black;
}

.primaryButton {
    background-color: rgb(141, 206, 214);
    border-radius: 15px;
    box-shadow: 0 0 5px #333;
    padding: 5px;
    text-align: center;
}

.secondaryButton {
    border-radius: 15px;
    box-shadow: 0 0 5px #333;
    padding: 10px;
}

.visuallyHidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


div.errors {
    border: 1px solid #eb0f0f;
    box-shadow: 0 0 5px #eb0f0f;
}
/******************** HOMEPAGE MAIN ELEMENTS *********************/
.hero {
    background-color: rgb(79, 139, 129);
    height: 200px;
    margin: 0;
    padding: 0;
}

#heroText {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heroText h2 {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

#wrapper {
    background-color: rgb(245, 245, 245);
    margin: auto;
    max-width: 1200px;
    padding: 20px;
}

.dietKey {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 10px 0;
}

.dietIconWithName {
    align-items: center;
    display: flex;
}

.dietIconWithName p {
    padding-left: 5px;
}

#suggestionsContent {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 10px 5px 20px;
}

#homeMealTypeSuggestions {
    flex: 1;
}

#homeMealTypeSuggestions a {
    background-color: #E0DDAA;
    color: #333;
    display: block;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

#homeMealTypeSuggestions a:hover {
    background-color: #F0E6A6;
}

/**************************************** SEARCH (RECIPES) PAGE ******************************/
#searchHero {
    margin: 0;
    padding: 0;
}

#searchHero h2 {
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    text-align: center;
}

/**** PROFILE *****/
#profileHeading {
    border-top: 1px solid black;
    padding: 10px;
    text-align: center;
}

#profileHeading + h3 {
    text-align: center;
    border-bottom: 1px solid black;
    
    padding: 10px 0;
}

#profileWrapper {
    background-color: white;
    margin: 0 auto;
    max-width: 1400px;
    padding: 10px;
}


.profileSectionHead {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.profileSectionHead h3 {
    margin: 10px;
}

.createLink:hover {
    text-decoration: underline;
}

/******** admin **********/
#adminHero {
    background-color: #3c2F2f;
    color: white;
    padding: 20px;
    text-align: center;
}


#categoriesContainer {
    display: flex;
}

/********************************************   media queries ****************************/
