/*** 404 page ******/

#error404 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

#error404 a {
  background: #f5f2e4;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

/******************** HOME PAGE *********************/

#homePageWrapper {
  width: 100%;
}

#homeHero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url("../images/24674.jpg") no-repeat 90% 30% / cover;
  height: 400px;
  margin: 0 auto;
}

#mainHeroText {
  align-items: center;
  background: #ececec80;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 20px;
  text-align: center;
  width: 100%;
}

#homeHero h2 {
  font-size: 44px;
  margin: 0;
  padding: 0;
}

#homeHero p {
  font-size: 18px;
}

#mainHeroText a {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 3px #333333;
  padding: 10px;
  transition: 0.2s ease;
}

#mainHeroText a:hover {
  background: #fffaf0;
}

/** Diet Key **/
.dietKey {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1000px;
}

.dietKey .dietIconWithName {
  align-items: center;
  display: flex;
}

.dietKey .dietIconWithName p {
  padding-left: 5px;
}

/** Become a Member CTA **/

section#becomeMemberCTA {
  align-items: center;
  background: #fffaf0;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 20px;
  width: 100%;
}

section#becomeMemberCTA > div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 10px 5px;
}

section#becomeMemberCTA > div > div {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: center;
  max-width: 300px;
  padding: 10px;
}

section#becomeMemberCTA > div > div > h3 {
  text-align: center;
}

section#becomeMemberCTA > div > div > p {
  margin: 0;
  text-align: center;
}

/** Recipe Suggestions Sections **/

.suggestions {
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 10px;
}

.suggestions .suggestionsContent {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
/**************************************** SEARCH (RECIPES) PAGE ******************************/
#searchHero {
  margin: 0;
  padding: 10px;
}

#searchHero #heroText {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
}

#searchHero h2 {
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
}
#searchPageWrapper {
  margin: auto 0;
}

#searchPageResultsWrapper {
  background: #ffffff;
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
}

h3.searchMessage {
  font-family: "Poppins", sans-serif;
  padding: 15px;
}

#recipePagePosts {
  display: flex;
  flex-wrap: wrap;
}

/********************************  ABOUT US  **************************/

#aboutPageHeading {
  font-size: 30px;
  text-align: center;
}

.aboutSection {
  border-bottom: 1px solid #333;
  padding: 20px;
}

.aboutSection ul li {
  list-style-type: circle;
}

/********************************  VIEW RECIPE  **************************/
#recipePageDisplayWrapper {
  background: #ffffff;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

#recipeDisplayUsernameOptions {
  border-top: 1px solid #4b4b4b;
  display: flex;
  justify-content: space-between;
}

#recipeNameImageDesc {
  align-items: center;
  border-bottom: 1px dotted #000000;
  border-top: 1px solid #000000;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#recipeNameImageDesc .recipeImage {
  border: 3px solid #333333;
  height: auto;
  margin: 10px 0;
  max-width: 100%;
}

#recipeDisplayrecipeDescription {
  max-width: 500px;
  text-align: center;
}

#recipeDisplayDietIconsCategoriesDifficulty {
  align-items: center;
  display: flex;
  gap: 5px;
}

.recipeDisplayMealTypes,
.recipeDisplayStyles {
  background: #fffaf0;
  border: 1px solid #ccccccac;
  border-radius: 5px;
  padding: 5px;
}

/** Difficulty Colors **/
div#recipeDisplayDifficulty p {
  padding: 5px;
  text-transform: uppercase;
  width: fit-content;
}

div#recipeDisplayDifficulty p#recipeDisplayAdvanced {
  background: #eb3434;
}

div#recipeDisplayDifficulty p#recipeDisplayBeginner {
  background: #82db58;
}

div#recipeDisplayDifficulty p#recipeDisplayIntermediate {
  background: #fcbb31;
}

#recipeDisplayprepCook {
  display: flex;
}

#recipeDisplayprepCook p {
  margin-right: 10px;
  padding-right: 5px;
}

#recipeDisplayOptions {
  align-items: center;
  display: flex;
  gap: 20px;
}

#recipeDisplayOptions a {
  border-radius: 5px;
  display: flex;
  font-size: 17px;
  padding: 5px;
}

#recipeDisplayOptions a img {
  margin-right: 5px;
}

#recipeDisplayOptions a:hover,
#recipeDisplayOptions button:hover {
  color: #879787;
}

#recipeDisplayOptions button {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  font-size: 17px;
}

#recipeDisplayOptions button img {
  margin-right: 3px;
}

#recipeDisplayIngredientsSteps {
  display: flex;
  margin: 20px 10px;
  min-height: 400px;
}

#recipeDisplayIngredientsSteps h3 {
  border-bottom: 1px solid #808080;
  font-size: 24px;
  margin: 20px 0;
  padding: 5px 0;
  width: fit-content;
}

#recipeDisplayIngredients {
  min-width: 500px;
}

#recipeDisplayChangeServingAmt {
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
}

#recipeDisplayChangeServingAmt button {
  border-radius: 10px;
  margin-right: 5px;
  padding: 5px 10px;
  text-align: center;
}

#selected {
  background: #d8a7a0;
}

li.recipeIngredientListing {
  list-style-type: circle;
  margin: 15px 0;
}

#recipeDisplaySteps ol li {
  list-style-type: decimal;
  margin: 20px 0;
}

#recipeDisplayAddRating {
  border-top: 1px solid #333333;
  padding: 10px;
}

#stars {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
}

.star-widget {
  padding: 5px;
  width: fit-content;
}

.star-widget form {
  margin: 0;
}

.star-widget input {
  display: none;
}

.star-widget label {
  color: #444444;
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  transition: all 0.2s ease;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label {
  color: #ffdd44;
}

.star-widget input:checked ~ label {
  color: #ffdd44;
}

.stars i {
  color: #e6e6e6;
  cursor: pointer;
  font-size: 35px;
  transition: color 0.2s ease;
}

.stars i.active {
  color: #ff9c1a;
}

/* Submit Button */
.submitRatingButton {
  background: #fff385;
  border: 1px solid #444444;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitRatingButton:hover {
  background: #8dca63;
}

/***************************************************  RECIPE PRINT STYLING ************************************************/

@media print {
  #recipePageDisplayWrapper {
    max-width: 100%;
    padding: 0;
  }

  #recipeDisplayrecipeDescription {
    text-align: left;
  }

  #recipeDisplayprepCook p:first-of-type {
    border: none;
  }

  #recipeNameImageDesc,
  #recipeDisplayprepCook,
  #recipeDisplayIngredientsSteps {
    display: block;
    width: 100%;
  }

  #recipeDisplayIngredients,
  #recipeDisplaySteps {
    max-width: 100%;
    padding: 0;
    width: 100%;
  }

  /* Hide elements that are not needed in print */
  header,
  #recipeDisplayUsername p,
  #recipeNameImageDesc img,
  #recipeDisplayRatingStars,
  .star-rating,
  #recipeDisplayCategories,
  #recipeDisplayDifficulty,
  #recipeDisplayOptions,
  #recipeDisplayChangeServingAmt,
  #recipeDisplayVideo,
  #recipeDisplayAddRating,
  footer {
    display: none;
  }
}

/******************************* PROFILE **********************************************/
#profileHeading {
  border-top: 1px solid #333333;
  padding: 10px;
  text-align: center;
}

#profileHeading + h3 {
  border-bottom: 1px solid #333333;
  padding: 10px 0;
  text-align: center;
}

#profileWrapper {
  background-color: #f5f2e4;
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100vh;
  padding: 10px;
}

.profileSectionHead {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.profileSectionHead h3 {
  margin: 10px;
}

.createLink {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
}

.createLink:hover::before {
  content: "+";
}

.profileCards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.profileRecipeCard {
  margin-right: 15px;
}

.userProfileRecipeActions {
  display: flex;
  justify-content: space-around;
}

.profileDeleteRecipe {
  cursor: pointer;
}

.deleteRecipeButton {
  background: none;
  border: none;
  color: #941111;
  padding: 0;
}

.deleteRecipeForm {
  display: none;
}

#cookbookNameFormField {
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0 2px #333333;
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
}

#cookBookNameFormField label {
    margin-right: 5px;
}

#cookBookNameFormField input[type="text"] {
    width: 50%;
}

#cookBookNameFormField input[type="submit"] {
    background: #3c2f2f;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}

/***************** ADMIN AREA ***************************/

.adminHero {
  background-color: #3c2f2f;
  color: white;
  padding: 20px;
  text-align: center;
}

.mgmtTableHeading {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

.mgmtTableHeading h3 {
  font-size: 28px;
}

.sectionHeader {
  display: flex;
}

#adminLinks a {
  display: block;
  font-size: 20px;
}

.categoriesTableSection {
  border-bottom: 1px solid #9b9b9b;
  margin: 20px 0 30px 0;
  padding: 10px;
}

.adminAddNew {
  background: #a4b6a4;
  border-radius: 5px;
  color: #333333;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  transition: 0.2s ease-in;
}

.adminAddNew:hover {
  background:  #acc4ac;
  box-shadow: 0 0 3px #333333;
}



table {
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 10px 20px;
}

table th,
td {
  border: 1px solid #000000;
  padding: 10px;
}

table td a:hover {
  color: #d64646;
}

table tr:nth-child(odd) {
  background: #fcfcfc;
}

table tr:nth-child(odd):hover {
  background: #f1f1f1;
  cursor: pointer;
}

table tr:nth-child(even) {
  background: #e7e2e2;
}

table tr:nth-child(even):hover {
  background: #cec8c8;
  cursor: pointer;
}

.manageUserActions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.manageUserWrapper {
  background: #ffffff;
  margin: auto;
  max-width: 800px;
  min-height: 500px;
  padding: 10px;
}

.manageUserWrapper ul li {
  margin: 20px;
}

.manageUserWrapper ul li div {
  margin: 10px;
}

.manageCategoryWrapper {
  background: #ffffff;
  border: 1px solid #000000;
  margin: auto;
  max-width: 800px;
  
  padding: 10px;
}
.manageCategoryWrapper h2 {
  margin-top: 30px;
}

.manageCategoryWrapper > div {
  margin-top: 10px;
}

.edit, 
.delete {
    padding: 20px;
}

.createUpdateButton {
  background: #a4b6a4;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.createUpdateButton:hover {
  background: #acc4ac;
  box-shadow: 0 0 3px #333333;
}

/***************************************** MEDIA QUERIES ******************************************/

@media screen and (max-width: 1000px) {

  /** VIEW RECIPE PAGE **/

  #recipeDisplayCategories span {
    display: inline-block;
  }

  #recipeDisplayIngredientsSteps {
    display: block;
  }

  #recipeDisplayIngredientsSteps div {
    width: 100%;
  }

  /** ADMIN AREA **/

  .adminTableUserFullName,
  .adminTableUserJoinDate {
    display: none;
  }
}

@media screen and (max-width: 750px) {

  /** ADMIN AREA**/
  .adminTableUserEmail {
    display: none;
  }
}

@media screen and (max-width: 700px) {

  /** HOME PAGE **/
  section#becomeMemberCTA > div {
    display: block;
  }

  .dietKey {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {

  /** VIEW RECIPE PAGE **/

  #recipeDisplayIngredients {
    min-width: 100%;
  }

  #recipeDisplayCategories span {
    display: block;
    margin: 10px 0;
  }

  #recipeDisplayprepCook {
    display: block;
  }

  #recipeDisplayprepCook p:first-of-type {
    border: none;
  }

  #videoContainer {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
    width: 100%;
  }

  #videoContainer iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  /** ADMIN AREA **/

  .adminTableUserActive {
    display: none;
  }
}
