
/******************** HOMEPAGE MAIN ELEMENTS *********************/

#homePageWrapper {
    width: 100%;
}

#homeHero {
    background: url('../images/culinnari_hero.webp') no-repeat center center;  
    background-position: 50%;
    background-size: cover;
    height: 200px;
    margin: 0 auto;

    & #mainHeroText {
        padding-top: 30px;
        color: #fff;
        text-align: center;
        background: rgba(51, 51, 51, 0.1);
        margin: auto 0;
        height: 100%;
    }

    & h2 {
        
        font-size: 36px;
        margin: 0;
        padding: 0;
    }
}

#wrapper {
    background-color: #f5f5f5;
    margin: auto;
    max-width: 1300px;
    padding: 20px;
}

.dietKey {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;

    & .dietIconWithName {
        align-items:center;
        display: flex;

        & p {
            padding-left: 5px;
        }
    }
}

section#becomeMemberCTA {
    background: #FFFAF0;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    

    > div {
        margin: 10px 5px;
        display: flex;
        gap: 30px;

        > div {
            display: flex;
            flex-direction: column;
            
            align-items: center;
            width: fit-content;
            padding: 10px;
            flex: 1;
            height: 200px;
            
            > p {
                text-align: center;
                margin: 0;
            }
        }
    }

}

.suggestions {
    margin-top: 20px;
    margin-bottom: 10px;

    & .suggestionsContent {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
    }
}




/**************************************** SEARCH (RECIPES) PAGE ******************************/
#searchHero {
    margin: 0;
    padding: 0;
}

#heroText {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#searchHero h2 {
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    text-align: center;
}

#searchPageWrapper {
    width: 100%;
    margin: auto 0;
}

#searchPageResultsWrapper {
    max-width: 1200px;
    margin: auto;
    background: #fff;
    
}

h3.searchMessage {
    border: 1px solid red;
    padding: 15px;
}

div#allRecipes {
    display: flex;
    flex-wrap: wrap;
}

/******************************* PROFILE **********************************************/
#profileHeading {
    border-top: 1px solid #333;
    padding: 10px;
    text-align: center;
}

#profileHeading + h3 {
    text-align: center;
    border-bottom: 1px solid #333;
    padding: 10px 0;
}

#profileWrapper {
    background-color: #f5f2e4;
    margin: 0 auto;
    max-width: 1400px;
    padding: 10px;
    min-height: 600px;
}


.profileSectionHead {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.profileSectionHead h3 {
    margin: 10px;
}


.createLink {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    &:hover::before {
        content: '+';
    }
}
.profileCards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.profileRecipeCard {
    margin-right: 15px;
}

#userProfileRecipeActions {
    display: flex;
    justify-content: space-around;
}

#profileDeleteRecipe {
    cursor: pointer;
}

#deleteRecipeForm {
    display: none;
}

#cookbookNameFormField {
    align-items: center;
    display: flex;

}

/******** admin **********/
#adminHero {
    background-color: #3c2F2f;
    color: white;
    padding: 20px;
    text-align: center;
}

.mgmtTableHeading {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}




/***************** Admin Area ***************************/

#adminWrapper {
    margin: auto 0;
    background: #ebebeb;
}

#categoriesWrapper {
    display: flex;
}
/********************************************   media queries ****************************/

@media screen and (max-width:700px){
    .dietKey {
        display: block;
    }
}