.recipeCard {
    width: 270px;
    height: 380px;
    box-shadow: 0 0 5px #3C2F2F;
    margin: 10px;
    background: #ffffff;
    transition: 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 0 10px #3C2F2F;
    }
}

.recipeCard p {
    margin: 10px 5px;
    font-size: 20px;
    max-width: 250px;
    height: 50px;
    overflow: wrap;
}

.recipeCardImageContainer {
    min-width: 250px;
    min-height: 250px;
}

.recipeCardImage {
    box-shadow: 0 0 2px #3C2F2F;
    margin: 10px 10px 0;
}

.recipeCardDietIcons {
    margin-left: 5px;
}

.recipeCardIconsRating {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    height: 20px;
    max-width: 250px;
}

.recipeCardUsername {
    height: 20px;
    max-width: 250px;
    margin-top: 5px;
    text-align: right;
}


/******************* ADMIN AREA *******************/

.manageCategoryCard {
    width: 800px;
    min-height: 500px;
    background: #ffffff;
    padding: 10px;
    margin: auto;
    border: 3px solid black;

    > h2 {
        margin-top: 30px;
    }

    > div {
        margin: 10px;
        
    }

    > .edit, .delete {
        padding: 10px;
        border: 1px solid red;
    }

}

.manageUserCard {
    width: 800px;
    min-height: 500px;
    background: white;
    padding: 10px;
    margin: auto;
    border: 1px solid red;

    > div {
        margin: 10px;
        
    }

    > .edit, .delete {
        padding: 10px;
        border: 1px solid red;
    }
}