.recipeCard {
    background: #ffffff;
    box-shadow: 0 0 5px #3C2F2F;
    height: 400px;
    margin: 10px;
    transition: 0.2s ease-in-out;
    width: 270px;
}

.recipeCard p {
    font-size: 20px;
    height: 50px;
    margin: 10px 5px;
    max-width: 250px;
    overflow: wrap;
}

.recipeCard:hover {
    box-shadow: 0 0 10px #3C2F2F;
}

.recipeCardImageContainer {
    min-height: 250px;
    min-width: 250px;
}

.recipeCardImage {
    box-shadow: 0 0 2px #3C2F2F;
    margin: 10px 10px 0;
    object-fit: cover;
}

.recipeCardDietIcons {
    margin-left: 5px;
}

.recipeCardIconsRating {
    display: flex;
    height: 20px;
    justify-content: space-between;
    margin: 0 5px;
    max-width: 250px;
}

.recipeCardUsername {
    height: 20px;
    margin-top: 5px;
    max-width: 250px;
    text-align: right;
}


/******************* ADMIN AREA *******************/

.manageCategoryCard {
    background: #ffffff;
    border: 3px solid black;
    margin: auto;
    min-height: 700px;
    padding: 10px;
    width: 800px;
}

.manageCategoryCard h2 {
    margin-top: 30px;
}

.manageCategoryCard > div {
    margin-top: 10px;
}

.manageCategoryCard > .edit,
.manageCategoryCard > .delete {
    padding: 10px;
}

.manageUserCard {
    background: #ffffff;
    margin: auto;
    max-width: 800px;
    min-height: 500px;
    padding: 10px;
}

.manageUserCard ul li {
    margin: 20px;
}

.manageUserCard ul li div {
    margin: 10px;
}