.formField {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 0;
}

.formField label {
    font-size: 18px;
    margin-right: 10px;
}


/************************************ LOGIN/REGISTRATION PAGE ********************/
.container {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    width: 100%;
}

.container .registration {
    display: none;
}

#check:checked ~ .registration {
    display: block;
}

#check:checked ~ .login {
    display: none;
}

#check {
    display: none;
}

.container .form {
    padding: 2rem;
}

.form h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form input {
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 17px;
    height: 50px;
    margin-bottom: 1.3rem;
    outline: none;
    padding: 0 15px;
    width: 100%;
}

.form input:focus {
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.form a {
    color: #009579;
    font-size: 16px;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form input.button {
    background: #009579;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    transition: 0.4s;
}

.form input.button:hover {
    background: #6a756a;
}

.signup label {
    color: #617061;
    cursor: pointer;
}

.signup label:hover {
    text-decoration: underline;
}

/*********************************** SEARCH BAR ********************/
#searchWithFilters {
    background-color: #fdfcfc;
    box-shadow: 0 0 5px #3C2F2F;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
    position: relative;
}

#searchBox {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
}

#mainSearch {
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
}

.mainSearchButton {
    background: none;
    border: none;
    bottom: 2px;
    cursor: pointer;
    position: relative;
    right: 50px;
}

#filterToggle,
#filterToggleLabel {
    display: none;
}

.filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#filterHeading {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin: 10px 0;
    text-align: center;
}

.searchFilter {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 160px;
}

.searchFilter legend {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.dropdown {
    position: relative;
}

.dropdown-button,
#sortByButton {
    border: 1px solid #333;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.dropdown-content {
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 190px;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content label {
    display: flex;
    font-size: 16px;
    padding: 8px;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 10px;
}

.searchReset {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
}

/*********************************** CREATE/EDIT RECIPE PAGES ********************/


.recipeFormWrapper {
    background: #fdfbf4;
    box-shadow: 0 0 5px #3C2F2F;
    margin: 0 auto;
    max-width: 1000px;
    padding: 15px;
}

.recipeFormWrapper input,
.recipeFormWrapper select {
    border-radius: 5px;
    padding: 5px 10px;
}

.recipeFormWrapper textarea {
    font: 16px 'Poppins', sans-serif;
}
.recipeFormHeading {
    border-bottom: 1px solid #3C2F2F;
    text-align: center;
    width: 100%;
}

.recipeForm {
    padding: 20px;
}

.recipeForm label {
    display: block;
    padding: 10px 0;
}

.recipeForm span {
    display: block;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: 300px;
}

h3.recipePartName {
    border-top: 1px solid #969696;
    padding-top: 20px;
    text-align: center;
}

h3.recipePartName + span {
    text-align: center;
}

label.recipePartName {
    font-family: 'Lustria', serif;
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 20px;
    width: fit-content;
}

#recipeDescription {
    border-radius: 5px;
    padding: 3px;
    width: 100%;
}

#recipeName {
    padding: 10px;
    width: 100%;
}

fieldset {
    border: none;
    margin: 10px 0;
}

legend {
    font-family: 'Lustria', serif;
    font-size: 22px;
}

.radio-group + label {
    margin-right: 10px;
}

.radio-group .formField {
    align-items: baseline;
    margin: 0;
}

.timeContainer {
    display: flex;
}

.timeContainer input {
    margin: 10px;
}

#totalServingsContainer {
    align-items: baseline;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#totalServingsContainer label {
    margin-right: 5px;
}

#ingredients {
    border-top: 1px solid #333;
}

#ingredientInputs {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#ingredientInputs input#ingredientName {
    width: 250px;
}

#ingredientInputSet {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.addedIngredients .ingredientInputSet {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.removeIngredient {
    padding: 5px 10px;
}

#steps {
    border-top: 1px solid #000000;
    margin-top: 30px;
}

#stepInput {
    width: 90%;
}

#stepInputAndButton {
    display: flex;
    justify-content: space-evenly;
}

.removeStep {
    background: #f75252;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    padding: 5px;
}

.removeStep:hover {
    background: #ee8686;
}

#addStep {
    background: #9ddf94;
    border: none;
    box-shadow: 0 0 3px #3C2F2F;
    cursor: pointer;
    padding: 10px;
}

#addStep:hover {
    background: #9ac594;
}

#enteredIngredients {
    margin-top: 30px;
}

.addedIngredients {
    background: #F0F0F0;
    border: 1px solid #3C2F2F;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 3px;
}

#addIngredient {
    background: #9ddf94;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#addIngredient:hover {
    background: #9ac594;
}

button.removeIngredient {
    background: #ff0000;
    border-radius: 5px;
    padding: 5px 10px;
}

button.removeIngredient:hover {
    background: #ee8686;
}

.addedSteps {
    align-items: center;
    border: 1px solid #3C2F2F;
    border-radius: 5px;
    display: flex;
    margin: 10px 0;
    padding: 5px;
    width: 100%;
}

.addedSteps textarea {
    background: none;
    border: none;
    font: 16px 'Poppins', sans-serif;
    overflow-y: visible;
    resize: none;
    width: 95%;
}

#measurementAmount {
    width: 100px;
}

.ingredientQuantity {
    width: 100px;
}

#checkboxes {
    border-bottom: 1px solid #969696;
    display: flex;
    padding-bottom: 10px;
}

#checkboxes fieldset {
    background: #fff;
    border: 1px solid #cecece;
    width: 100%;
}

#checkboxes input[type="checkbox"],
#checkboxes label {
    cursor: pointer;
}

#imagePreview {
    display: none;
    height: auto;
    margin-top: 10px;
    width: 300px;
}

#youtube_link {
    width: 100%;
}

.recipeSubmitReset {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.createRecipeButton {
    background: #3ceb62;
    border: none;
    box-shadow: 0 0 5px #333;
    cursor: pointer;
    font-family: 'Lustria', sans-serif;
    margin-top: 20px;
    padding: 10px;
    transition: 0.2s ease;
}

.createRecipeButton:hover {
    background: #b3dbbc;
}

#clearRecipeFormButton {
    background-color: #ff0000;
    cursor: pointer;
    font-family: 'Lato', serif;
}

#clearRecipeFormButton:hover {
    background-color: #f18484;
}
/***************************************************************** ADMIN AREA ******************************************************************/

.userFormInput {
    display: flex;
    margin: 10px 0;
}

.userFormInput label {
    margin-right: 5px;
}

.userFormInput div {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.userFormInput div > label {
    margin: 0;
}

/***************************************************************** MEDIA QUERIES ******************************************************************/

@media screen and (max-width: 1050px) {
    .filters {
        display: none;
    }

    #filterToggle + label {
        cursor: pointer;
        display: block;
        text-align: center;
        text-decoration: underline;
    }

    #filterToggle:checked ~ .filters {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #filterToggle:checked ~ .filters .searchFilter {
        width: 100%;
    }

    #filterToggle:checked ~ .filters .dropdown-content {
        min-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #ingredientInputs {
        display: block;
        width: fit-content;
    }

    .addedIngredients .ingredientInputSet {
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    }

    .removeIngredient {
        position: absolute;
        right: 0;
        top: 0;
    }

    .signupInput {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    #checkboxes {
        display: block;
    }

    #ingredientInputSet {
        display: block;
    }

    #timeInput {
        display: block;
    }

    #timeInput fieldset {
        width: 100%;
    }
}

