label {
    display: block;
    margin-bottom: 5px;
}

input[type="submit"] {
    display: block;
    margin: 10px;
}

/** SEARCH FORM **/
div#searchWithFilters {
    background-color: #fdfcfc;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 5px #3C2F2F;
    
}

div#searchBox {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
}

input#mainSearch {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

.mainSearchButton {
    border: none;
    background: none;
    position: relative;
    right: 50px;
    bottom: 2px;
}

#filterHeading {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

#filterToggle,
#filterToggleLabel {
    display: none;
}

.filters {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.searchFilter {
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.searchFilter > label {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}


/* Style for the dropdown button */
.dropdown {
    position: relative;
}

.dropdown-button {
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid #333;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Display the dropdown content when the dropdown button is clicked */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style for the checkboxes inside the dropdown */
.dropdown-content label {
    display: block;
    padding: 8px;
    font-size: 16px;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 10px;
}


.searchReset {
    border: none;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    background: none;
}


/*********************************** LOGIN & SIGNUP PAGE ********************/

#loginSignup {
    display: flex;
    background-color: white;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#loginSignup h2 {
    text-align: center;
}

#loginSignup div {
    margin: 10px;
    flex: 1;
    box-shadow: 0 0 5px #3C2F2F;
    padding: 5px 10px;
}

#loginSignup div h3 {
    text-align: center;
}

#loginSignup input[type="submit"] {
    margin-top: 10px;
    padding: 10px 5px;
    box-shadow: 0 0 5px #3C2F2F;
    transition: 0.2s;
}

#loginSignup input[type="submit"]:hover {
    background-color: #333;
    color: white;
}
/*********************************** CREATE/EDIT RECIPE PAGE ********************/



.recipeFormWrapper {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 15px;
    box-shadow: 0 0 5px #3C2F2F;
}

.recipeFormHeading {
    text-align: center;
    border-bottom: 1px solid #3C2F2F;
    width: 100%;
}

#createRecipeForm {
    padding: 20px;
}

#createRecipeForm span {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

#createRecipeForm input + label {
    margin-bottom: 10px;
    font-size: 17px;
}

#createRecipeForm textarea {
    width: 100%;
}


input#recipeName {
    width: 100%;
    padding: 5px;
}

.radio-group {
    display: flex;
    align-items: flex-start;
}

.radio-group label {
    margin-right: 20px;
}

.checkboxContainer label  {
    display: block;
    white-space: nowrap;
}

label.recipePartName {
    font-size: 20px;
    
    margin-top: 20px;
    font-family: 'Lustria', serif;
    max-width: 200px;
}

#checkboxes {
    display: flex;
    margin: 20px;
    flex-wrap:wrap;
}

.checkboxContainer {
    flex: 1;
    padding: 10px;
    
}

.checkboxContainer label {
    display: block;
}

.checkboxContainer input[type="checkbox"] {
    /* Styles for all checkboxes inside .checkboxContainer */
    margin-right: 5px;
    width: 16px;
    height: 18px;
}

#timeInput {
    display: flex;
}

#timeInput div {
    padding: 5px;
    flex: 1;
}

.prep-time-container {
    display: flex;
    align-items: baseline;
}

.prep-time-container input#prep_time,
.prep-time-container input#cook_time {
    width: 50px;
}
.prep-time-container span {
    margin-left: 5px;
    margin-right: 5px;
}

input#measurementAmount {
    width: 50px;
}

textarea#stepInput {
    max-width: 350px;
}

ul#ingredientsContainer li {
    padding: 5px;
    list-style-type: circle;
}

ol#stepsContainer li {
    padding: 5px;
    list-style-type: decimal;
}

.remove-button {
    background: none;
    border: none;
    text-decoration:underline;
}

input#youtube_link {
    width: 100%;
}

input#createRecipe {
    background: rgb(0, 255, 98);
    box-shadow: 0 0 2px #3C2F2F;
    border: none;
    padding: 10px;
    width: 150px;
    display: inline;
}


/***************************************************************** MEDIA QUERIES ******************************************************************/

@media screen and (max-width: 650px) {
    .filters {
        display: none;
        
    }

    #filterToggle + label {
        display: block;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
    }

    #filterToggle:checked ~ .filters {
        display: block;
        align-items: center;
    }
}    