.formField {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 0;
}

.formField label {
    margin-right: 10px;
}


/**** signup & login pages ***/

#loginSignupWrapper {
    width: 1200px;
}

#loginSignupPage {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 700px;

    & div {
        flex: .5;
    }

    > div:first-of-type {
        border-right: 1px solid #000000;
    }

    > div:nth-of-type(2) {
        margin-left: 20px;
    }

}

.signUpFormField {
    min-height: 70px;
    background: white;
}

.signupInput {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    margin-top: 10px;
    
    & label {
        margin-right: 5px;
    }

    & input {
        border-radius: 3px;
    }
}

.requirements {
    display: none;
    color: #ff0000; 
    font-size: 14px;
    margin: 5px;
  }

#password-requirements ul li {
    list-style-type: circle;
}

.loginSignupButton {
    color: #fff;
    padding: 10px 20px;
    background-color: #8B9B8B;
    font-family: 'Lustria', sans-serif;
    border-radius: 10px;

    &:hover {
        background-color: #cbe2cb;
        color: #000000;
    }
}


label {
    display: block;
    margin-bottom: 5px;
}

input[type="submit"] {
    display: block;
    margin: 10px;
}

/** SEARCH FORM **/
div#searchWithFilters {
    background-color: #fdfcfc;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 5px #3C2F2F;
    
}

div#searchBox {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
}

input#mainSearch {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

.mainSearchButton {
    border: none;
    background: none;
    position: relative;
    right: 50px;
    bottom: 2px;
    cursor: pointer;
}

#filterHeading {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

#filterToggle,
#filterToggleLabel {
    display: none;
}

.filters {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.searchFilter {
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.searchFilter > label {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}


/* Style for the dropdown button */
.dropdown {
    position: relative;
}

.dropdown-button,
#sortByButton {
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid #333;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Display the dropdown content when the dropdown button is clicked */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style for the checkboxes inside the dropdown */
.dropdown-content label {
    display: block;
    padding: 8px;
    font-size: 16px;
}

.dropdown-content input[type="checkbox"]:checked + label {
    background-color: #f0f0f0;  /* Change to desired highlight color */
    color: #333;  /* Optional, to change text color */
}

.dropdown-content input[type="checkbox"] {
    margin-right: 10px;
}

.searchReset {
    border: none;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    background: none;
}

/*********************************** CREATE/EDIT RECIPE PAGE ********************/

.recipeFormWrapper {
    max-width: 1000px;
    margin: 0 auto;
    background: #fdfbf4;
    padding: 15px;
    box-shadow: 0 0 5px #3C2F2F;

    & input {
        border-radius: 5px;
        padding: 5px 10px;
    }

    & select {
        border-radius: 5px;
        padding: 5px 10px;
    }
}

.recipeFormHeading {
    text-align: center;
    border-bottom: 1px solid #3C2F2F;
    width: 100%;
}

#createRecipeForm {
    padding: 20px;
    
}

#createRecipeForm span {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-style:italic;
    min-width: 300px;
}

h3.recipePartName {
    padding-top: 20px;
    border-top: 1px solid #969696;
    text-align: center;

    + span {
        text-align: center;
    }
}

label.recipePartName {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Lustria', serif;
    width: fit-content;
}

textarea#recipeDescription {
    width: 100%;
    border-radius: 5px;
    font: 16px 'Lato', serif;
    padding: 3px;
}

input#recipeName {
    width: 100%;
    padding: 10px;
}

fieldset {
    margin: 10px 0;
    border: none;
    
}
legend {
    font-size: 22px;
    font-family: 'Lustria', serif;
}

.radio-group {
    display: flex;

    + label {
       margin-right: 10px; 
    }

    & .formField {
        align-items: baseline;
    }
}

.timeContainer {
    display: flex;

    & input {
        margin: 10px;
    }
}


#totalServingsContainer {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    padding-bottom: 10px;

    & label {
        margin-right: 5px;
    }
}

#ingredients {
    border-top: 1px solid #333;
}


#ingredientInputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;

    & select {
        font-family: 'Lato', serif;
    }
}

#ingredientInputSet {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.addedIngredients .ingredientInputSet {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.removeIngredient {
    padding: 5px 10px;
}

fieldset#steps {
    border-top: 1px solid black;
    margin-top: 30px;
}

#stepInput {
    width: 90%;
}
#stepInputAndButton {
    display: flex;
    justify-content: space-evenly;
}

.removeStep {
    margin-left: 5px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background: #f75252;

    & ::hover {
        background: rgb(238, 134, 134);

    }

}

button#addStep {
    background: #9ddf94;
    border: none;
    padding: 10px;
    box-shadow: 0 0 3px #3C2F2F;
    cursor: pointer;
}

button#addStep:hover {
    background: #9ac594;
}

#enteredIngredients {
    margin-top: 30px;
}

.addedIngredients {
    border: 1px solid #3C2F2F;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
    background: #F0F0F0;
}

button#addIngredient {
    border: none;
    background: #9ddf94;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background: #9ac594;
    }
}

button.removeIngredient {
    padding: 5px 10px;
    border-radius: 5px;
    background: #ff0000;

    &:hover {
        background: #ee8686;
    }

}

.addedSteps {
    display: flex;
    align-items: center;
    margin: 10px 5px;
    background: #dfdcd7;
    padding: 5px;
    width: 100%;
    border: 1px solid #3C2F2F;
    border-radius: 5px;
}

#measurementAmount {
    width: 100px;
}

#checkboxes {
    display: flex;
    border-bottom: 1px solid #969696;
    padding-bottom: 10px;

    & fieldset {
        border: 1px solid #cecece;
        width: 100%;
        background: #fff;
    }

    & label {
        cursor: pointer;
    }

    & input[type="checkbox"] {
        cursor: pointer;
    }
}



#youtube_link {
    width: 100%;
}

.recipeSubmitReset {
    text-align: center;
}

#createRecipeButton {
    font-family: 'Lustria', sans-serif;
    padding: 10px;
    margin-top: 20px;
    background: #3ceb62;
    border: none;
    box-shadow: 0 0 5px #333;
    transition: 0.2 ease;
    cursor:pointer;

    &:hover {
        background: #b3dbbc;

        
    }
   
}

#clearRecipeFormButton {
    font-family: 'Lato', serif;
    background-color: #ff0000;
    cursor: pointer;
    
    &:hover {
        background-color: #f18484;
    }
}

.profileDeleteRecipe {
    position: relative;
}

.deleteRecipeForm {
    position: absolute;
    background: white;
    border: 1px solid #ff0000;
    width: 300px;
}

/******* ADMIN AREA *********/

/**Create / Update User Form**/

.userFormInput {
    display: flex;
    margin: 10px 0;

    & label {
        margin-right: 5px;
    }

    & div {
        display: flex;
        justify-content: space-between;
        width: 300px;

    }
}

/***************************************************************** MEDIA QUERIES ******************************************************************/

/*************** SEARCH BAR*********************/
@media screen and (max-width: 650px) {
    /****  SEARCH BAR ***/
    .filters {
        display: none;
        
    }

    #filterToggle + label {
        display: block;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
    }

    #filterToggle:checked ~ .filters {
        display: block;
        align-items: center;
    }

    /*** CREATE RECIPE PAGE ****/

    #timeInput {
        display: block;

        & fieldset {
            width: 100%;
        }
    }

    #ingredientInputSet {
        display: block;
    }

    #checkboxes {
        display: block;
    }
}

/************************ CREATE RECIPE ******************/
@media screen and (max-width: 800px) {
     #ingredientInputs {
        display: block;
        width: fit-content;
     }
}

@media screen and (max-width: 500px) {
    .radio-group {
        display: block;
    }
}