
header {
    align-items: center;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    background: #FFFAF0;
    
}

h1 {
    font-family: "Lustria", serif;
}


.menuButton {
    display: none;
}

#menu-toggle {
    display: none;
}
  
nav ul {
    padding: 0;

    & li {
        display: inline-block;
    }

    & a {
        color: #333;
        font: 20px 'Lustria', serif;
        padding: 10px;
        transition: 0.2s ease-in;

        &:hover {
            box-shadow: 0 5px 5px -5px #3C2F2F;
            color: #6a756a;
        }
    }
}

/************* GEN  PUBLIC *********/
#headerLoginSignup  {
    display: flex;
    align-items: center;
    background: #D8A7A0;
    box-shadow: 0 0 5px #333;
    padding: 5px 10px;
    transition: 0.2s ease-in;
    border-radius: 5px;

    &:hover {
        background:#c0c7b3;
    }
}

#headerLoginSignup a {
    margin-left: 10px;
    
}


/***************** MEMBER ***********/
#memberNav {
    display: flex;
    align-items: center;
    gap: 5px;
}

#memberNav div {
    margin: 5px;
}

#memberNav div:nth-of-type(2) a {
    display: block;
    padding: 5px;
}

#userMenuToggle {
    display: none;
}

#userMenu {
    display: flex;
    flex-direction: column;

    & a {
        
        padding: 3px;

        &:hover {
            box-shadow: 0 0 3px #868b7c;
        }
    }
}

#adminNav {
    align-items: center;
    display: flex;
    gap: 5px;

    & a {
        padding: 3px;

        &:hover {
            box-shadow: 0 0 3px #868b7c;
        }
    }
}


#adminMenu {
    display: flex;
    flex-direction: column;
}

#adminMenuToggle {
    display: none;
}



/******** FOOTER ************/
footer {
    align-items: center;
    display: flex;
    padding: 20px;
    background-color: #c3d3c3;

    & div {
        flex: 1;
    }

    & li {
        font-size: 18px;
        padding: 5px;
    }

    & a {
        color: #333;
    }

    & #businessInfo  li:first-of-type {
        align-items: center;
        display: flex;

        & img {
            margin-right: 5px;
        }
    }
}




/**************************************************** MEDIA QUERIES *****************************************************/  



@media screen and (max-width:800px){
    header {
        display: grid;
        grid-template-columns: repeat(1fr, 3);
        grid-auto-flow: column;
        justify-content:space-between;
    }

    & #headerIcon {
        grid-column: 2;
    }

    & #navMenu {
        grid-column: 1;
    }

    .menuButton {
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 100;
        position: relative;
      }
    
      /* Hide the menu by default */
      #menuContent {
        position: absolute;
        left: -150px;
        top: -80px;
        width: 125px;
        background: white;
        box-shadow: 2px 2px 10px #0000001a;
        gap: 10px;
        transition: left 0.3s ease;
        z-index: 100;
      }
      
    
      /* Show menu when checked */
      #menu-toggle:checked ~ #menuContent {
        top: 80px;
        left: 0;
        
      }

      #memberNav {
        position: relative;
        display: inline-block;
    }
    
    /* Hide the checkbox */
    #userMenuToggle {
        display: none;
    }
    
    /* Style for the dropdown menu */
    #userMenu {
        display: none; /* Initially hidden */
        position: absolute;
        top: 100%;
        right: 0;
        background: white;
        box-shadow: 0 4px 8px #00000033;
        padding: 10px;
        border-radius: 5px;
        z-index: 10;
        min-width: 150px;

        & a{
            display: block;

            &:nth-of-type(2){
                margin-top: 15px;
            }
        }
    }
    
    /* Show the menu when the checkbox is checked */
    #userMenuToggle:checked + label + #userMenu {
        display: block;
    }
    
    /* Style for profile link */
    #profileLink {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    /* Ensure the label is interactive */
    label[for="userMenuToggle"] {
        cursor: pointer;
        display: block;
        width: fit-content;
    }

    /******************* ADMIN MENU ***************/

    #adminNav {
        position: relative;
        display: inline-block;
    }

    #adminMenu {
        display: none; /* Initially hidden */
        position: absolute;
        top: 100%;
        right: 0;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 5px;
        z-index: 10;
        width: fit-content;

       

        & a{
            display: flex;
            flex-wrap: nowrap;
            padding: 10px;

            & img {
                margin-right: 5px;
            }
        }
        
    }
    
    /* Show the menu when the checkbox is checked */
    #adminMenuToggle:checked ~ #adminMenu {
        display: block;
    }
    
    
    /* Ensure the label is interactive */
    label[for="adminMenuToggle"] {
        cursor: pointer;
        display: block;
        width: fit-content;
    }

    /***************** FOOTER **************/

      footer {
        display: block;
      }
    
}

@media screen and (max-width: 500px) {
    #headerLoginSignup img {
        display: none;
    }
}

