.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .post {
    display: none;
}
.container .text {
    font-size: 25px;
    color: #666;
    font-weight: 500;
}

#stars {
    display: flex;
    flex-direction: row-reverse;
}

.star-widget form {
    margin: 0;
}

.star-widget input {
    display: none;
}
.star-widget label {
    font-size: 16px;
    color: #444;
    padding: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

/* Hover and Selected Effects */
.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

.star-widget input:checked ~ label {
    color: #fd4;
}

/* Special Styling for 5-Star Rating */
.star-widget input#rate-5:checked ~ label {
    color: #fe7;
}

/* Submit Button */
.submitRatingButton button {
    border: 1px solid #444;
    padding: 10px;
    width: 100%;
    
    cursor: pointer;
    transition: all 0.3s ease;
}

.submitRatingButton button:hover {
    background: #8dca63;
}


.star-rating  {
    width: 100px;
   
    > div {
        display: flex;
    }
}

button#closeRatingWidget {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        color: red;
    }
    
}

