/********************************   view recipe **************************/
#recipePageDisplayWrapper {
    background: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#recipeNameImageDesc {
    align-items: center;
    display: flex;
    flex-direction: column;

    border-bottom: 1px dotted black;
    border-top: 1px solid black;
    padding: 10px;
}

#recipeDisplayrecipeDescription {
    max-width: 500px;
    text-align: center;
}

#iconsStars {
    display: flex;
    align-items: center;
}

#iconsStars div {
    padding: 10px;
}

#recipeDisplayOptions {
    display: flex;
   
}


div#recipeDisplayDifficulty p {
    padding: 10px;
    text-transform:uppercase;
}

div#recipeDisplayDifficulty p#recipeDisplayBeginner {
    background: #82db58;
}

div#recipeDisplayDifficulty p#recipeDisplayIntermediate {
    background: #fcbb31;
}

div#recipeDisplayDifficulty p#recipeDisplayAdvanced {
    background: #eb3434;
}

#recipeDisplayprepCook {
    display: flex;
}

.rating-box {
    position: relative;
    background: #fff;
    padding: 25px 50px 35px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  }
  .rating-box header {
    font-size: 22px;
    color: #dadada;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }
  .rating-box .stars {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .stars i {
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  .stars i.active {
    color: #ff9c1a;
  }


#recipeDisplayprepCook p {
    margin-right: 10px;
    padding-right: 5px;
}

#recipeDisplayprepCook p:first-of-type {
    border-right: 1px solid #333;
}


#recipeDisplayIngredientsSteps {
    margin: 20px 10px;
    display: flex;
    min-height: 400px;

    & h3 {
        font-size: 24px;
    }
}


#recipeDisplayIngredientsSteps div {
    width: 50%;
}

#recipeDisplayChangeServingAmt {
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
}

#recipeDisplayChangeServingAmt button {
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 5px;
}

li.recipeIngredientListing {
    list-style-type: circle;
    margin: 15px 0;
}


#recipeDisplaySteps ol li {
    list-style-type: decimal;
    margin: 20px 0;
}

/*************************************************** PRINT STYLING ************************************************/

@media print {
    #recipePageDisplayWrapper {
        max-width: 100%;
        padding: 0;
    }

    #recipeDisplayrecipeDescription {
        text-align: left;
    }

    #recipeDisplayprepCook p:first-of-type {
        border: none;
    }

    #recipeNameImageDesc, #recipeDisplayDietIcons, #recipeDisplayprepCook, #recipeDisplayIngredientsSteps {
        display: block;
    }

    #recipeDisplayIngredients, #recipeDisplaySteps {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    /* Hide elements that are not needed in print */
    header,
    #recipeNameImageDesc img,
    #recipeDisplayRatingStars,
    #recipeDisplayDifficulty,
    #recipeDisplayOptions,
    #recipeDisplayChangeServingAmt,
    #recipeDisplayYouTubeVideo,
    footer {
        display: none;
    }

}

/*********************************************  MEDIA QUERIES ******************************************************/
@media screen and (max-width: 750px){
    #recipeDisplayIngredientsSteps {
        display: block;

        & div {
            width: 100%;
        }
    }
}

@media screen and (max-width: 550px) {

    #iconsStars {
        display: block;

        & div {
            padding: 0;
        }
    }
    
    #recipeDisplayprepCook {
        display: block;

        & p:first-of-type{
            border: none;
        }
    }
}