/********************************   view recipe **************************/
#recipePageDisplayWrapper {
    background: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    & #recipeDisplayUsernameOptions {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid black;
    }
}

.star-widget,
.cookbook-widget {
    display: none;
}

.star-widget {
    position: absolute;
    top: 10px;
    background: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid black;
}
  .stars i {
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  .stars i.active {
    color: #ff9c1a;
  }

#recipeDisplayOptions {
    display: flex;
    align-items: center;

    > div#recipeDisplayPrint a {
        display: flex;
        align-items: center;
        padding: 5px;
        
        border-radius: 5px;

        > img {
            margin-right: 5px;
        }
    }

     & div.recipeDisplayRatingHeading {
        display: flex;
        justify-content: center;
        
    }

    & button#addRatingButton, 
    button#recipeDisplayAddToCookbook {
        border: none;
        background: none;
        font-size: 15px;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        display: flex;
        align-items: center;

        > img {
            margin-right: 5px;
        }

        &:hover {
            border: 1px solid black;
        }
    }

    
   
}

#recipeNameImageDesc {
    align-items: center;
    display: flex;
    flex-direction: column;

    border-bottom: 1px dotted black;
    border-top: 1px solid black;
    padding: 10px;

    > .recipeImage {
        border: 3px solid black;
        margin: 10px 0;
    }
}

#recipeDisplayrecipeDescription {
    max-width: 500px;
    text-align: center;
}

#recipeDisplayCategories {
    padding: 10px;

    > span {
        background: #FFFAF0;
        border: 1px solid #dadada;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
    }

    
}



#iconsStars {
    display: flex;
    align-items: center;
}

#iconsStars div {
    padding: 10px;
}




div#recipeDisplayDifficulty p {
    padding: 10px;
    text-transform:uppercase;
}

div#recipeDisplayDifficulty p#recipeDisplayBeginner {
    background: #82db58;
}

div#recipeDisplayDifficulty p#recipeDisplayIntermediate {
    background: #fcbb31;
}

div#recipeDisplayDifficulty p#recipeDisplayAdvanced {
    background: #eb3434;
}

#recipeDisplayprepCook {
    display: flex;
}



#recipeDisplayprepCook p {
    margin-right: 10px;
    padding-right: 5px;
}

#recipeDisplayprepCook p:first-of-type {
    border-right: 1px solid #333;
}


#recipeDisplayIngredientsSteps {
    margin: 20px 10px;
    display: flex;
    min-height: 400px;

    & h3 {
        font-size: 24px;
        margin: 20px 0;
        padding: 5px 0;
        border-bottom: 1px solid gray;
        width: fit-content;
    }
}

#recipeDisplayIngredientsSteps div {
    width: 50%;
}

#recipeDisplayChangeServingAmt {
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
}

#recipeDisplayChangeServingAmt button {
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 5px;
}

#selected {
    box-shadow: 0 0 3px red;
    background: #D8A7A0;
}

li.recipeIngredientListing {
    list-style-type: circle;
    margin: 15px 0;
}


#recipeDisplaySteps ol li {
    list-style-type: decimal;
    margin: 20px 0;
}

/*************************************************** PRINT STYLING ************************************************/

@media print {
    #recipePageDisplayWrapper {
        max-width: 100%;
        padding: 0;
    }

    #recipeDisplayrecipeDescription {
        text-align: left;
    }

    #recipeDisplayprepCook p:first-of-type {
        border: none;
    }

    #recipeNameImageDesc, #recipeDisplayDietIcons, #recipeDisplayprepCook, #recipeDisplayIngredientsSteps {
        display: block;
    }

    #recipeDisplayIngredients, #recipeDisplaySteps {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    /* Hide elements that are not needed in print */
    header,
    #recipeDisplayUsername p,
    #recipeNameImageDesc img,
    #recipeDisplayRatingStars,
    #recipeDisplayDifficulty,
    #recipeDisplayOptions,
    #recipeDisplayChangeServingAmt,
    #recipeDisplayVideo,
    footer {
        display: none;
    }

}

/*********************************************  MEDIA QUERIES ******************************************************/
@media screen and (max-width: 750px){
    #recipeDisplayIngredientsSteps {
        display: block;

        & div {
            width: 100%;
        }
    }
}

@media screen and (max-width: 550px) {

    #iconsStars {
        display: block;

        & div {
            padding: 0;
        }
    }
    
    #recipeDisplayprepCook {
        display: block;

        & p:first-of-type{
            border: none;
        }
    }
}