
header {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin: 0 20px;
}

h1 {
    font-family: "Lustria", serif;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #333;
    font: 20px 'Lustria', serif;
    padding: 10px;
}


/** Login / Member **/

#loginSignup {
    align-items: center;
    display: flex;
}

#loginSignup a {
    color: #333;
    margin-left: 5px;
}

/******** FOOTER ************/
footer {
    align-items: center;
    display: flex;
    padding: 20px;
    background-color: #8B9B8B;
}

footer div {
    flex: 1;
}

footer li {
    font-size: 18px;
    margin-top: 10px;
}